/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

/* Heading Styling */
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #F47C4A;
    margin-bottom: 20px;
}

/* Paragraph Styling */
p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #7f8c8d;
    margin-bottom: 40px;
}

/* Loader Animation */
.loader {
    width: 60px;
    height: 60px;
    border: 5px solid #ecf0f1;
    border-top: 5px solid #F47C4A;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }
}